
*{
    margin: 0;
    padding: 0;
}

.card {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 40px 40px;
    border-radius: 50px;
    margin-left: 20px;
    transition: all 0.3s ease 0s;
    width: 320px;
}

.card:hover {
    box-shadow: 0px 10px 50px -10px #08080879;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    margin: 0;
    height: 40px;
    width: auto;
}

.header p a {
    color: #FF6C22;
    transition: all 0.3s ease 0s;
}

.header p a:hover {
    color: #000000;
}

.header p i {
    color: #000000;
    transition: all 0.3s ease 0s;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.body h2 {
    color: #192655;
}

.body h3 {
    color: #19265575;
    font-weight: 600;
}

.body p {
    color: #192655;
    max-width: 320px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6; 
    -webkit-box-orient: vertical;
}

.footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}

.benefits {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FF6C22;
}
